.search-bar{
    display: flex;
    background-color: white;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    gap: 13px;
    padding-right: 13px;
    padding-left: 4px;
    border: 1px solid #ddd;
    border-radius: 7px;
    
  }
  .search__input{
    padding: 13px;
    flex-grow: 1;
    outline: none;
    font-size: 1rem;
    font-weight: 500px;
    border: none;
  }
  
  .search__button{
    background: none;
    font-size: 1rem;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    color: #333;
    cursor: pointer;
  }


